footer{
    background-color: #62616cdb;
    color: #ffffff;
    display: flex;
    margin-top: auto;
    
}

img {
    height: auto;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3
}


.footer_column{
    flex-grow: 1;
    text-align: center;
}

.footer_container h3{
    margin-bottom: 1rem;
}


.footer_social{
    font-size: 20px;
    margin-left: 2rem;
}

