
img {
  width: 100px;
}

.categories-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.category-card {
  height: 500px;
  position: relative;

}


.category-card h2 {
  position: absolute;
  top: 0;
}



.accessory {
  background-image: url(./assets/accesories.jpg);
  background-position: center;
  background-size: cover;
}

.monitor {
  background-image: url(https://www.asus.com/WebsitesBanner/GB/banners/92cqjoo43y68ahru/92cqjoo43y68ahru-0_0_desktop_1X.jpg?webp);
  background-position: right center;
  background-size: cover;
}





.popular-products {
  display: flex;
  justify-content: space-evenly;
  height: 600px;

}

.product-overview {
  width: 120px;
}

